url:{
    jdbc:postgresql://localhost:5432/schoolscaffold
}

user:{
    postgres
}

password:{
    post
}

global_variable:{
C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/configuration/List_VARIABLE_JSP

}

tmp:{
C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/configuration/GLOBAL_VARIABLE

}

template:{
    jsp-list-pagination:{
     C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringListPagination.tmpl   
    }
    java-spring-model:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringModel.tmpl        
    }
    java-spring-repository:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringRepository.tmpl
    }
    java-spring-service:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringService.tmpl
    }
    java-spring-controller:{
       C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringController.tmpl 
    }
    jsp-list:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringListJSP.tmpl
    }
    jsp-add:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringAddJSP.tmpl
    }
    jsp-edit:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringEditJSP.tmpl
    }
    java-spring-controller-spec:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/JavaSpringControllerSpec.tmpl
    }
    jsp-nav:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/JSP-NO-CODE/test/instructions/NavBar.tmpl
    }
}
fileExtension:{
    java:{
        .java
    }
    jsp:{
        .jsp
    }
}
outputPath:{
    All:{
    }
    java-spring-controller:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/ENV-DEMO/src/main/java/scaffold/framework/demo/controller        
    }
    java-spring-model:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/ENV-DEMO/src/main/java/scaffold/framework/demo/entity        
    }
    java-spring-repository:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/ENV-DEMO/src/main/java/scaffold/framework/demo/repository        
    }
    java-spring-service:{
        C:/Users/MISA/Desktop/Workspace/S6/Mr-Naina/Version 2/JSP-No-Code/ENV-DEMO/src/main/java/scaffold/framework/demo/service        
    }
}

fileNameSuffix:{
    java-spring-repository:{
        Repository
    }
    java-spring-service:{
        Service
    }
    java-spring-controller:{
        Controller
    }
    jsp-add:{
        add
    }
    jsp-edit:{
        edit
    }
    jsp-list:{
        list
    }
    All:{

    }
}