jsp-add:{
    Imports:{
        #import#= java.util.List
    }    
    Imports:{
        #import#= scaffold.framework.demo.entity.$datasources$.getLabelUpFirst$
    }    
    Imports:{
        separator=concat
        <loop each $datasources$.getAttributesForeignClass : Attribute>
            #import#= scaffold.framework.demo.entity.Attribute.getForeignKeyInformation.getTableOrigineUpFirst$         
        <loop/>    
    }    
    jspFormAfterImport:{
        #FormName#= Add
        #formName# = add
        #Entity# = $datasources$.getLabelUpFirst$
        #entity#= $datasources$.getLabel$
    }
    inputFlex:{
        separator=concat
        <loop each $datasources$.getAttributesWithLabelFirstNoForeignTableAndNoPK : ito>
            #Column#= ito.getAttrName$
            #column# = ito.getAttrName$
            #type#= ito.getHTMLType$
            #entity# = $datasources$.getLabel$            
        <loop/>        
    }
    inputForeignTable:{
        separator = concat
        <loop each $datasources$.getAttributesForeignClass : Attribute>
            FT =Attribute.getForeignKeyInformation.getTableOrigineUpFirst$         
            ft=Attribute.getForeignKeyInformation.getTableOrigine$
            #entity# = $datasources$.getLabel$            
        <loop/>                
    }
    endLineJspForm:{
        #FormName#= Add
        #Entity# = $datasources$.getLabelUpFirst$
        #entity# =$datasources$.getLabel$
    }
}