java-spring-controller:{    

    packageDeclaration:{
        #package#= scaffold.framework.demo.controller
    }   
    Imports:{
        loop = 6
        separator=concat
        #packageSource#=    <loop>
                                  org.springframework.stereotype.Controller
                                  org.springframework.ui.Model
                                  org.springframework.web.bind.annotation.GetMapping
                                  org.springframework.web.bind.annotation.PathVariable
                                  org.springframework.web.bind.annotation.PostMapping
                                  org.springframework.web.bind.annotation.RequestMapping
                            <loop/>
    }
    Imports:{
        #packageSource#=scaffold.framework.demo.entity.$datasources$.getLabelUpFirst$
    }
    Imports:{
        #packageSource#=    scaffold.framework.demo.service.$datasources$.getLabelUpFirst$Service
    }

    annotationDeclaration:{
        #url#=$datasources$.getLabel$
    }
    classDeclaration:{
        #ClassName# = $datasources$.getLabelUpFirst$Controller
    }
    fieldsDeclaration:{
        #encaps# = private
        #type# = $datasources$.getLabelUpFirst$Service
        #name#= $datasources$.getLabel$Service
    }
    randomContent:{
        #entity#= $datasources$.getLabel$
        #Entity#= $datasources$.getLabelUpFirst$
    }    
     
}