java-spring-service:{
    packageDeclaration:{
                #package# = scaffold.framework.demo.service
    }
    Imports:{
        loop = 4
        separator=concat
        #packageSource#=    <loop>
                                 java.util.List
                                 org.springframework.stereotype.Service
                                 org.springframework.data.domain.Page
                                 org.springframework.data.domain.PageRequest
                            <loop/>
    }
    
    Imports:{
        #packageSource#= scaffold.framework.demo.entity.$datasources$.getLabelUpFirst$
    }
    Imports:{
        #packageSource#= scaffold.framework.demo.repository.$datasources$.getLabelUpFirst$Repository
    }

    annotationDeclaration:{

    }
    classDeclaration:{
        #ClassName#= $datasources$.getLabelUpFirst$Service
    }

    randomContent:{
        #entity#= $datasources$.getLabel$
        #Entity#= $datasources$.getLabelUpFirst$
    }

}